@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300..900&display=swap");

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: justify;
  font-size: 18px;
}

/* Reset dark */
.dark-mode * {
  color: var(--cinza_2);
}
