.colums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

form {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

input,
textarea,
select {
  border: 1px solid var(--cinza_1);
  border-radius: 8px;
  outline: none;
  box-shadow: 3px 5px 6px 1px rgba(0, 0, 0, 0.12);
  background-color: var(--branco_1);
}

textarea {
  resize: none;
  min-height: 6rem;
  min-width: 30rem;
}

input:focus,
textarea:focus,
select:focus {
  border-color: transparent;
  outline: 3px solid var(--azul_principal);
  box-shadow: 0 0 5px rgba(66, 133, 244, 0.2);
}

input:hover,
textarea:hover,
select:hover {
  border-color: var(--cinza_1);
}

input::placeholder,
textarea::placeholder,
select:placeholder {
  color: #aaa;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

#nomeResponsavel {
  width: 100%;
}

#idade {
  width: 4rem;
}

.form-group > input,
.form-group > select,
.form-group > textarea {
  width: fit-content;
  padding: 12px;
}

#idade,
select > option {
  text-align: center;
}

.form-group label {
  margin-bottom: 10px;
  display: block;
}

#formulario > form > div:nth-child(1) {
  margin-bottom: 25px;
}

#formulario > form > div:nth-child(2) {
  align-items: flex-start;
}

.clear {
  background-color: red;
}
.clear:hover {
  background-color: #e00000;
}

#interactions {
  padding: 30px 70px;
}

#interactions > h2 {
  margin-bottom: 25px;
}

#interactions > div.form-group {
  margin: 20px auto;
  border: 1px solid var(--cinza_1);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--branco_1);
}

.interaction {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.interaction > textarea {
  width: inherit;
}

.reponse {
  margin: 25px auto;
  border: none;
  border-top: 1px ridge var(--cinza_1);
  border-left: 1px ridge var(--cinza_1);
}

.invisible {
  display: none;
}
